<div>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand gradient-text" href="#">KanBan App</a>
    </div>
  </nav>
</div>


<div class="container overflow-hidden text-center">
  <div class="board ">
    <h5>BoardName</h5>
   </div>

  <div class="row gx-5" cdkDropListGroup>
    <div class="col-lg-3 col-md-12">
      <div class="board-column">
        <h6>Ideas</h6>
        <div class="taskContainer container" cdkDropList
        [cdkDropListData]="ideas"
        (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let idea of ideas" cdkDrag>
           <div class="task-content"><p>{{ idea.title }} </p></div>
            <div class="task-icons"> <i class="bi bi-info-circle btn details-icon" title="Details"></i><i class="bi bi-pencil-fill btn pencil-icon" title="Edit"></i> <i class="bi bi-trash-fill btn trash-icon" title="Delete"></i></div>
          </div>
        </div>
        <button class="add-idea-btn" (click)="addIdea()">
          <i class="bi bi-plus-circle-fill"></i> Add Idea
        </button>


      </div>

    </div>
    <div class="col-lg-3 col-md-12">
      <div  class="board-column" >
        <h6>Research</h6>
        <div class="taskContainer container" cdkDropList
        [cdkDropListData]="research"
        (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let task of research" cdkDrag>
            <div class="task-content"><p>{{task.title}} </p></div>
            <div class="task-icons"> <i class="bi bi-info-circle btn details-icon" title="Details"></i> <i class="bi bi-pencil-fill btn pencil-icon" title="Edit"></i>   <i class="bi bi-trash-fill btn trash-icon" title="Delete"></i></div>
          </div>
        </div>
        <button class="add-idea-btn" (click)="addResearch()">
          <i class="bi bi-plus-circle-fill"></i> Add Research
        </button>
      </div>

    </div>
    <div class="col-lg-3 col-md-12">
      <div  class="board-column" >
        <h6>ToDo</h6>
        <div class="taskContainer container" cdkDropList
        [cdkDropListData]="todo"
        (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of todo" cdkDrag>
            <div class="task-content"><p>{{item.title}} </p></div>
            <div class="task-icons"><i class="bi bi-info-circle btn details-icon" title="Details"></i> <i class="bi bi-pencil-fill btn pencil-icon" title="Edit"> </i> <i class="bi bi-trash-fill btn trash-icon"title="Delete"></i></div>
          </div>

        </div>
        <button class="add-idea-btn" (click)="addItem()">
          <i class="bi bi-plus-circle-fill"></i> Add item
        </button>
      </div>

    </div>
    <div class="col-lg-3 col-md-12">
      <div  class="board-column">
        <h6>Done</h6>
        <div class="taskContainer container" cdkDropList
        [cdkDropListData]="done"
        (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of done" cdkDrag>
            <div class="task-content"><p>{{item.title}} </p></div>
            <div class="task-icons">  <i class="bi bi-info-circle btn details-icon"title="Details"></i> <i class="bi bi-archive-fill archive-icon btn"title="Archive"></i></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
