/* You can add global styles to this file, and also import other style files */
html,body{
  height: 100%;
}

body{
  background-image: url('./assets/background.svg')!important;
  background-size: cover;
  overflow-y: auto!important;
}
.gradient-text {
  background: linear-gradient(45deg, #f06, #9f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
}
